<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h2>User Dashboard</h2>
    <a href="/profile">View Profile</a>
    <!-- Add more dashboard content as needed -->
    
    <br>
    <a href="/purchaseStocks">Sell</a>
    <br>
    <a href="/stocks_data">Purchase</a>
    <br>
    <a href="/learn">Learn</a>
    <br>
    <a href="/history">History</a>
    
    
    
</body>
</html>
